<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bruno.diabeteslearning">

    <application
        android:icon="@mipmap/ic_launcher_diabetes"
        android:roundIcon="@mipmap/ic_launcher_foreground_diabe"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.NoActionBar">


        <activity
            android:name=".Activities.ImageActivity"
            android:parentActivityName=".Activities.MainActivity"
            android:allowBackup="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">


        </activity>

        <activity
            android:name=".Activities.DetailsActivity"
            android:parentActivityName=".Activities.MainActivity"
            android:allowBackup="true"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">


        </activity>


        <activity
            android:name=".Activities.DisplayDataActivity"
            android:parentActivityName=".Activities.ImageActivity"
            android:allowBackup="true"
            android:windowSoftInputMode="adjustPan"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">


        </activity>

        <activity
            android:name=".Activities.PreferencesActivity"
            android:parentActivityName=".Activities.MainActivity"
            android:allowBackup="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">


        </activity>

        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>

    </application>

    <uses-sdk android:minSdkVersion="16" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

</manifest>